<ion-content>
  <ion-searchbar animated> 

  </ion-searchbar>
</ion-content>

<ion-header >
  <ion-toolbar>
    <ion-title>
     Hello World!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
</ion-content>
<ion-content>
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-range color="tertiary" pin="true"></ion-range>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content>
  <ion-range min="10" max="100" step="2">
    <ion-range size="small" slot="start" name="sunny"></ion-range>
    <ion-range slot="end" name="sunny"></ion-range>
  </ion-range>
</ion-content>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
</ion-content>
